/.phpunit.cache
/node_modules
/public/build
/public/hot

/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
public/render/render_33_Fachada 3B_1.png
public/render/render_33_Fachada 3B_1.webp
public/render/render_113_Fachada 3A_1.png
public/render/render_113_Fachada 3A_1.webp
public/render/render_140_7.png
public/render/render_141_7.png
public/render/render_156_5.png
public/render/render_234_5.png
public/render/render_235_5.png
public/render/render_246_7.png
public/render/render_247_7.png
public/render/render_248_7.png
public/render/render_249_7.png
public/render/render_250_7.png
public/render/render_251_7.png
public/render/render_275_Fachada 3B_1.webp
public/render/render_275_Fachada 3B_2.webp
public/render/render_275_Fachada 3B_3.webp
public/render/render_275_Fachada 3B_4.webp
public/render/render_276_Fachada 3B_1.webp
public/render/render_276_Fachada 3B_2.webp
public/render/render_276_Fachada 3B_3.webp
public/render/render_276_Fachada 3B_4.webp
public/render/render_277_Fachada 3B_1.webp
public/render/render_277_Fachada 3B_2.webp
public/render/render_277_Fachada 3B_3.webp
public/render/render_277_Fachada 3B_4.webp
public/render/render_278_Fachada 3B_1.webp
public/render/render_278_Fachada 3B_2.webp
public/render/render_278_Fachada 3B_3.webp
public/render/render_278_Fachada 3B_4.webp
public/render/render_279_Fachada 3B_1.webp
public/render/render_279_Fachada 3B_2.webp
public/render/render_279_Fachada 3B_3.webp
public/render/render_279_Fachada 3B_4.webp
public/render/render_280_Fachada 3B_1.webp
public/render/render_280_Fachada 3B_2.webp
public/render/render_280_Fachada 3B_3.webp
public/render/render_280_Fachada 3B_4.webp
public/render/render_281_7.webp
public/render/render_282_7.webp
public/render/render_283_7.webp
public/productos/MEXICANO-MINIATURA.webp
public/productos/MINIMALISTA-MINIATURA.webp
public/productos/TULUM-MINIATURA.webp
.gitignore
public/producto/1760738836_title-icon.png
public/producto/1760738980_Frame 1597884931.png
public/profile_photos
