/.phpunit.cache
/node_modules
/public/build
/public/hot

/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
public/render/
public/productos/
.gitignore
public/producto/1760738836_title-icon.png
public/producto/1760738980_Frame 1597884931.png
public/profile_photos
public/previews/