.accordion-button {
    font-weight: 600;
    font-size: 1.2rem;
}

.option-card {
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.1s ease;
    position: relative;
}

.option-card:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    border-color: #007bff;
}

.dark-blue {
    border-color: #2B458A !important;
    color: #2B458A !important;

}

.dark-blue:hover {
    color: #fff !important;
}

.info-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: #f1f1f1;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.option-title {
    font-weight: 600;
    margin-top: 10px;
}

.option-price {
    color: #333;
}


.accordion-button::after {
    display: none !important;
    /* Oculta la flecha por defecto */
}

.accordion-item {
    border: 0px solid white !important;
    border-radius: 25px !important;
}

.custom-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.custom-toggle .icon svg {
    transition: opacity 0.2s ease;
}

.accordion-button.collapsed .plus-icon {
    display: inline;
}

.accordion-button:not(.collapsed) .plus-icon {
    display: none;
}

.accordion-button.collapsed .minus-icon {
    display: none;
}

.accordion-button:not(.collapsed) .minus-icon {
    display: inline;
}

.accordion-button {
    background-color: white !important;
    border-radius: 25px !important;
    box-shadow: none !important;
    outline: none !important;
    color: #000;
}

.accordion-button:not(.collapsed) {
    background-color: white !important;
    color: #000;
    box-shadow: none !important;
}

.accordion-button:focus {
    box-shadow: none !important;
    outline: none !important;
}

.textAcordeon {
    font-size: 24px;
    color: #0B1234;
}

/***/
.sticky-content {
    position: sticky;
    top: 100px;
    /* debajo del header fijo */
}

.option-card:hover {
    border: 2px solid #007BFF;
    border-radius: 0.5rem;
    cursor: pointer;
}

/* Borde azul al estar seleccionado (clic) */
.option-card.selected {
    border: 2px solid #007BFF;
    border-radius: 0.5rem;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0);
}

#Estilos a {
    color: black;
    text-decoration: none !important;
}

.thumb {
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.01s ease;
    height: 80px;
    object-fit: cover;
}

.thumb-wrapper.thumb-selected {
    border: 2px solid #007bff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

.preview-img.fade-out {
    opacity: 0;
    transition: opacity 0.01s ease;
}


.bg-habitaciones {
    background-color: #4C7DFA;
}

.bg-habitaciones span {
    color: white;
}

.preview-image {
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
}

.preview-image img {
    max-width: 100%;
    height: auto;
}

.image-loader {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
    backdrop-filter: blur(2px);
    z-index: 10;
}

.preview-img.fade-out {
    opacity: 0;
    transition: opacity 0.18s ease;
}


@media only screen and (max-width: 600px) {
    #mainPreview {
        margin-top: 70px;
    }

    .sticky-content {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9;
        padding: 10px;
        background: white
    }



    .long-content {
        margin-top: 320px;
    }
}

.accordion-button .minus-icon {
    display: none;
}

.accordion-button:not(.collapsed) .plus-icon {
    display: none;
}

.accordion-button:not(.collapsed) .minus-icon {
    display: inline-block;
}


.precio-sticky {
    position: sticky;
    top: 20px;
    /* se pega arriba */
    z-index: 9999;
}

.precio-sticky span {
    font-size: 20px;
}

.incluido{
    background: #386EFA12;
    width: 166px;
    padding: 4px 10px;
    border-radius: 4px;
    color: #386EFA;
    font-weight: 400;
    font-family: 'Geologica', sans-serif;
}